*, *::after, *::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.modal {
    font-family: Rubik, sans-serif;
    font-style: normal;
    font-weight: normal;
    position: fixed;
    height: calc(100% - 10px - 10px);
    margin: 10px auto;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    transition: 200ms ease-in-out;
    background-color: #FFFFFF;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    overflow: auto;
    width: 800px;
    max-width: 80%;
    z-index: 10;
}

.modal::-webkit-scrollbar {
    display: none;
}
.modal.active {
    display: block;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.modal-header {
    height: 62px;
    width: 100%;
    position: relative;
}

.close-button {
    cursor: pointer;
    position: absolute;
    width: 22px;
    height: 22px;
    top: 16px;
    right: 12px;
}
.close-button:hover {
    opacity: 0.8;
}
.close-button:before, .close-button:after {
    position: absolute;
    content: ' ';
    height: 33px;
    width: 1px;
    background-color: #FFFFFF;
}
.close-button:before {
    transform: rotate(45deg);
}
.close-button:after {
    transform: rotate(-45deg);
}

.modal-body {
    padding: 48px 70px 48px 65px;
}

.modal-subheader {
    margin-bottom: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: -0.4px;
    color: #22053D;
}

.subheader-arrow {
    display: none;
}

.header-pic {
    width: 100%;
    height: 100%;
    background: url("https://ebac-lms-dev.s3.sa-east-1.amazonaws.com/upload/Header.png") no-repeat center center;
    background-size: cover;
}

.button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FF7900;
    border-radius: 28px;
    text-align: center;
    padding: 12px 24px;
    margin-bottom: 38px;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    color: #FFFFFF;
    cursor: pointer;
}
.button:hover {
    box-shadow: 0 4px 14px rgba(83, 106, 107, 0.14);
}

.pros-wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-family: Arial, serif;
    margin-bottom: 46px;
}

.pros-wrap span {
    font-size: 16px;
    line-height: 26px;
}

.pros-title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
    color: #10001F;
}

.acesso {
    max-width: 350px;
}

.progresso {
    max-width: 40%;
}

.important-wrap {
    padding: 20px 23px 25px;
    background: #F6F5FA;
    border-radius: 12px;
    font-family: Poppins, sans-serif;
    margin-bottom: 46px;

}
.important-title {
    margin-bottom: 19px;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #10001F;
}
.important-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}
.info {
    border-top: 2px solid #E7E6EB;
    padding: 35px 0 25px;
}
.info span {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #10001F;
}

.others {
    margin-bottom: 27px;
}
.others div{
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #7B2CBF;
}

.contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
}

.contact-title {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 26px;
    color: #22053D;
}

.contact-info {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.12px;
    color: #10001F;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(2px) grayscale(70%);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

@media (min-width: 768px) {
    .modal {
        height: auto;
    }
    .modal-body {
        padding: 20px;
    }
    .contacts {
        max-width: unset;
    }
    .acesso {
        max-width: 300px;
    }
}

@media (min-width: 1024px) {
    .modal-body {
        padding: 40px;
    }
    .acesso {
        max-width: 340px;
    }
}

@media (min-width: 1200px) {
    .modal {
        width: 800px;
        max-width: 80%;
        height: calc(100% - 10px - 10px);
    }
    .modal-body {
        padding: 48px 70px 48px 65px;
    }
    .modal-subheader {
        display: flex;
    }
    .subheader-text {
        max-width: 516px;
    }
    .contacts {
        max-width: 80%;
    }
    .subheader-arrow {
        display: flex;
        align-self: flex-end;
        width: 76px;
        height: 72px;
        margin-left: 13px;
        margin-bottom: -20px;
        background: url("data:image/svg+xml,%3Csvg width='76' height='72' viewBox='0 0 76 72' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M63.4393 71.0607C64.0251 71.6465 64.9749 71.6465 65.5607 71.0607L75.1066 61.5148C75.6924 60.929 75.6924 59.9793 75.1066 59.3935C74.5208 58.8077 73.5711 58.8077 72.9853 59.3935L64.5 67.8788L56.0147 59.3935C55.4289 58.8077 54.4792 58.8077 53.8934 59.3935C53.3076 59.9793 53.3076 60.929 53.8934 61.5148L63.4393 71.0607ZM0 3.5C16.3907 3.5 32.1 6.96815 43.6997 16.8899C55.2544 26.7732 63 43.2948 63 70.0001H66C66 42.7053 58.0619 25.2268 45.6497 14.6101C33.2825 4.03185 16.7418 0.5 0 0.5V3.5Z' fill='%23FF0B34'/%3E%3C/svg%3E") no-repeat center center;
        background-size: cover;
    }
    .acesso {
        max-width: 350px;
    }
}

@media (max-width: 767px) {
    .modal {
        width: 100%;
        max-width: 100%;
        height: calc(100% - 10px - 10px);
    }
    .modal-body {
        padding: 15px;
    }
    .modal-subheader {
        font-size: 20px;
        line-height: 26px;
    }
    .acesso, .progresso {
        max-width: unset;
        margin-bottom: 10px;
    }
    .pros-title {
        margin-bottom: 10px;
    }
    .pros-wrap {
        margin-bottom: 18px;
    }
    .button {
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 28px;
    }
    .important-wrap {
        margin-bottom: 26px;
    }
    .info {
        padding: 15px 0;
    }
    .contacts {
        max-width: unset;
        flex-direction: column;
        align-items: flex-start;
    }
    .contact-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .contact-title {
        margin: 8px 10px 8px 0;
    }
}